/* universal element  */
*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    color: black;
}

body, html{
    background-color:gray;
}
h1{
    text-shadow: 3px 3px gray;
}

ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

/* navbar button  */
  .score-btn{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    margin: 10px 20px;
  }
  .score-btn a{
      color: #fff;
      text-decoration: none;
  }

    /* Container div  */
    .container{
        display: flex;
        justify-content: center;
        align-items:center ;
        height: 80vh;
        background-color:white;
        box-shadow: 0 0 10px 2px;
    }

    /* countdown timer  */
  
    .timer-style{
        display: flex;
        position: fixed;
        top: 110px;
        right: 430px;
        width: 100px;
        padding: 10px 10px 10px 10px;
        /* background-color: gray; */
        font-size: 20px;
        font-weight: bolder;
    }
    /* instructional welcome box  */
    #welcome-box{
        display: inline-block;
        text-align: center;
        margin: 20px;
    }
  
    #welcome-box button{
      padding: 20px;
      background-color: red;
      color: black;
      border-radius: 100px;
      font-size: 20px;
      font-weight: bolder;
    }

    /* start button decoration  */
    .start-btn{
        margin-top: 30px;
    }
    /* hide class to make all the divs hide that arent being used  */
    .hide{
        display: none;
    }
  
    .show{
        display:block;
    }

    /* questions div  */
    #question { 
      position: absolute;
      right: 0;
      top: 0;
    }
  
    #questions{
        position: absolute;
        top: 200px;
        left: 650px;
        font-size: 40px;
    }
  
    /* choices div  */
    #choices button{
        padding: 20px;
        margin-top: 20px;
        width: 100%;
  
    }
    #choices button:hover{
      background-color: red;
      color: white;
      }

    /* HIGHSCORE HTML  */
    .wrapper{
        display: inline-block;
        margin: 200px 800px;
    }
    .wrapper h1{
        text-align: center;
    }
    .hs-buttons button{
    padding: 10px;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 40px;
    margin-right: 30px;
    }
    .hs-hero h2{
        display: flex;
        height: 4vh;
        width: 100%;
    }
    .hs-hero {
        text-align: center;
    }
    #saveScore{
        display: block;
        margin-top: 20px;
        height: 20vh;
        width: 100%;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
    }
    .hs-buttons {
        display: flex;
        width: max-content;
        height: auto;
    }